@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=My+Soul&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
*{
  margin:0;
  padding:0;
  font-family: "poppins";
  font-optical-sizing: auto;
  font-style: normal; 
    /* font-family: "inter",sans-serif */
}
*,*::after,*::before{
box-sizing: border-box;
}
:root{
 --Beige:#fae7cc;
 --Teal:	#006D77;
 --DarkBlue:#060d36;
--SoftGold: #CBA913;
/* --heading-font: 'Dancing Script', cursive; */
--body-font: 'Inter', sans-serif;
}
nav{
  background-color:var(--DarkBlue);
   /* background:transparent; */
   height:10vh;
  width:100%;
padding:0.5em 0.5em;
position:fixed;
z-index:1;
top:0;
}
nav ul li{
  list-style:none;
}
nav ul li:first-child{
  margin-right:auto;
  font-weight:bold;
  font-size:1.5em;
}
nav ul{
display:flex;
justify-content:center; 
padding-top:0.3em;
margin-right:2em ;
margin-left:2em;
gap:2em;
}
nav a{
  text-decoration:none;
  color:var(--Beige);
  /* font-weight:bold; */
  font-size:1em;

}
body{
 background-color: var(--DarkBlue);
 color: var(--Beige);

}
.hero{
  /* background-color:blue; */
  margin-top:10em;
  height:100vh;
  width:100%;
  display:flex;
  justify-content:space-evenly;

 
}

.home-name{
  
  font-size: 3em;
  color: var(--Beige);
  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.right-hero{
  
margin-top:4em;
  width:30%;
}
.left-hero{
  /* background-color:saddlebrown; */
/* margin-top: 4em; */
  width:40%;
}
.btn{
  margin-top:2em;
  background-color: rgb(45, 134, 206);
  color:var(--Beige);
  padding:0.5em 1em;
  border-radius: 1px;
  border: none;
  cursor: pointer;
  font-size: medium;
}
.btn:hover{
  background-color: rgb(47, 96, 232);

}
.product-div{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  margin:0 auto;
  row-gap:0.9em;
  width:80%;

}
.head{
  text-align:center;
}
.product-img{
  height:20em;
  width:20em;
  object-fit: cover;
  transition:moved;
position:relative;
}
.product-img:hover{
  transform:rotateY(180deg);
 animation-duration: 2s;
  animation-delay:3s;
  animation-fill-mode: forwards;
  transition-property:transform;
  transition-duration:1s;
  cursor: pointer;
  /* opacity:0.6; */
  /* animation: moved ease-in 0.2; */
}

@keyframes moved {
  0%{opacity:0;}
  100%{opacity:1;}
}
.product-card{
  position:relative;
}
.heart{
  background-color: rgb(47, 96, 232);
  padding:0.3em 0.5em;
  border:none;
  display:inline;
  border-radius: 50%;
  font-size: 1.2em;
  color:var(--Beige);
  left:1em;
  top:0.3em;
  transition: moved;
  position: absolute;
}
.about{
  margin:0 auto;
  width:80%;
  display: flex;
  margin-bottom:2em;
  margin-top:2em
}
.about-text{
  /* background-color: violet; */
  margin-top:2em;
  /* border-radius  */
  /* border:1px dashed var(--Beige); */
  gap:2em;
  text-align: center;
  /* display:inline; */
}

/* .about-div{

} */
.about-img{
  width:90%;
  height:100%;
  object-fit: cover;
  border-radius:220px 0px 220px 0px;
}
.box{
  color:rgb(171, 167, 167);
  border:2px dashed;
  width:30%;
  height:50%;
  padding: 2em;
}
.img-box{
  border-radius: 50%;
  width:7%;
  height:10%;
  object-fit: contain;
}
.Testimonials{
  width:100%;
  align-items: center;
  
  
}

.sub-testimonials{
  display: flex;
}
.customer-name{
  padding-top: 1em;
  display: flex;
  margin-left:12em;
  font-weight:bold;
  
  ;
}